body {
  /*background-color: #9ACAD2;*/
  /*background-image: linear-gradient(180deg, rgba(154,202,210,1), rgba(154,202,210,0));*/
  background-color: #00303f;
  margin: 0;
  overflow: hidden;
}

#root {
  max-width: 1280px;
  min-width: 580px;
  margin: 0 auto;
  text-align: center;
}

.Content {
  flex-direction: column;
  background-color: #fffffb;
  background-repeat: no-repeat;
  /*border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);*/
  max-height: 934px;
}

.nav-menu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: #00303f;
  margin-top: 0;
  margin-bottom: 0;
  position: static; 
}

.nav-menu ul li {
  list-style: none;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #f5f4f4;
  font-size: 1.2rem;
  font-weight: 600;
}

.image-header {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*background-image: url("./assets/headimg.jpg");*/
  background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));
}
.image-table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}
.image-header img {
  width: 400px;
  height: 300px;
  margin-left: auto;
  order: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.image-headertext {
  display: flex;
  flex-direction: row;
}
.image-header h1 {
  font-family: 'Caveat', cursive;
  font-size: 8rem;
  color: #0e0903;
  order: 1;
  margin-left: auto;
  width: 55%;
  text-align: end;
}
.image-header p {
  order: 2;
  margin-right: auto;
  margin-top: 3rem;
  margin-left: auto;
  width: 15%;
  text-align: left;
  font-style: italic;
}

.team-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*background-color: #f9f8f7;*/
  background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));
  overflow: scroll;
  overflow-x: hidden;
}
.team-container img {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);  
}

.services-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*background-color: #f9f8f7;*/
  background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));
}
.services-container img {
  width: 600px;
  height: 450px;
  margin: auto;
  opacity: 0.8;
  
}

.about-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*background-color: #f9f8f7;*/
  background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));
  overflow: scroll;
  overflow-x: hidden;
}
.about-container img {
  width: 400px;
  height: 300px;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.about-container p {
  margin: 20px auto;
  width: 50%;
  text-align: left;
  font-style: italic;
}

.contact-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*background-color: #f9f8f7;*/
  background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00303f;
  margin-top: 0;
  margin-bottom: 0;
  color:#f5f4f4;
}

.bannerTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 2;
  margin-left: auto;
  width: 50%;
  
}
.bannerTable a {
  text-decoration: none;
  color: #0e0903;
}
.bannerTable a:hover {
  font-style: italic;
  color: #02556e;
}
.bannerTable tbody {
  width: 100%;
}
.bannerTable tr:nth-child(1) {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  /*animation-name: bannerAnimation;*/
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.bannerTable tr:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  /*animation-name: bannerAnimation;*/
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.bannerTable tr:nth-child(3) {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  /*animation-name: bannerAnimation;*/
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes bannerAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    
  }
}
.teamTable {
  margin-top: 5%;
  border: #00303f 2px solid;
  border-radius: 25px;
}

.teamTable td {
  vertical-align: text-top;
}
.teamTable ul{
  list-style: none;
  text-align: left;
}
  

/* Path: enja-site\src\App.css */
