body {
  /*background-color: #9ACAD2;*/
  /*background-image: linear-gradient(180deg, rgba(154,202,210,1), rgba(154,202,210,0));*/
  background-color: #00303f;
  margin: 0;
  overflow: hidden;
}

#root {
  max-width: 1500px;
  min-width: 420px;
  margin: 0 auto;
  text-align: center;
}

.Content {
  flex-direction: column;
  background-color: #fffffb;
  background-repeat: no-repeat;
}

.nav-menu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: #00303f;
  margin-top: 0;
  margin-bottom: 0;
  position: static; 
}

.nav-menu ul li {
  list-style: none;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #f5f4f4;
  font-size: 1.2rem;
  font-weight: 600;
}
.nav-menu .activeStyle {
  color: #e38c2d;
  text-decoration: underline;
}

.image-header {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));*/
  background-image: url('./assets/landingbg.png');
  background-size: cover;
}
.image-table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.image-header img {
  width: auto;
  height: 450px;
  margin-left: auto;
  order: 1;
}
.image-headertext {
  display: flex;
  flex-direction: row;
}
.image-header h1 {
  font-family: 'Caveat', cursive;
  font-size: 8rem;
  color: #e38c2d;
  order: 1;
  margin-left: auto;
  width: 55%;
  text-align: end;
}
.image-header p {
  order: 2;
  margin-right: auto;
  margin-top: 3rem;
  margin-left: auto;
  width: 15%;
  text-align: left;
  font-style: italic;
}
@media screen and (max-width: 790px) {
  .image-header {
    overflow-y: scroll;
  }
  .image-table {
    display: flex;
    flex-direction: column;
  }
  .image-header img {
    height: 300px;
    margin-right: auto;
  }
  .image-header h1 {
    font-size: 4rem;
    width:auto;
  }
  .image-header p {
    width: 30%;
  }
  table.bannerTable {
    width:100%;
    padding-top: 0;
  }
  .bannerTable thead tr{
    justify-content: center;
    min-width: 460px;
    padding-top: 0 !important;
  }
  .bannerTable tbody {
    justify-content: center;
    padding-top: 0 !important;
  }
  .bannerTable tbody h2{
    font-size: 1.2rem;
    margin-top: 0;
  }
  .bannerTable tbody tr{
    justify-content: center;
    min-width: 460px;
  }
}
@media  screen and (max-width: 450px) {
  .bannerTable tbody h2{
    font-size: 1rem;
    margin-top: 0;
  }
  .bannerTable thead tr {
    min-width: 300px;
  }
  .bannerTable tbody tr {
    min-width: 300px;
  }
}
.bannerTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  width: 50%;
  padding-top: 2rem;
  
}
.bannerTable thead{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-top: 2rem;
}
.bannerTable thead th {
  text-align: left;
}
.bannerTable a {
  text-decoration: none;
  color: #0e0903;
  text-align: left;
}
.bannerTable a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.bannerTable tbody {
  width: 100%;
  padding-top: 1rem;
  flex-direction: row;
}
.bannerTable tr {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 10px;
}


/* Team ---- Start*/

.team-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*background-color: #f9f8f7;
  background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));*/
  background-image: url('./assets/teambg.png');
  background-size: cover;
  overflow: scroll;
  overflow-x: hidden;
}
.team-container .team-header h1 {
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  color: #e38c2d;
}
@media screen and (max-width: 790px) {
  .team-container .team-header h1 {
    color:#00303f;
  }
  
}
.team-container .card-container .card img {
  width: auto;
  height: 250px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);  
}
.team-container .card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
}
@media screen and (max-width: 840px) {
  .team-container .card-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
.team-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: auto;
  /*margin: 1rem;*/
  padding: 1rem;
  background-color: #f9f8f7;
  border-radius: 25px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
.team-container .card p{
  text-align: left;
}
.team-container .card .button{
  margin-top: auto;
  margin-bottom: 0;
  padding: 0.5rem;
  border-radius: 25px;
  background-color: #d55a29;
  color: #f5f4f4;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.team-container .card .button:hover{
  opacity: 0.7;
}
.modalContainer{
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modalBg{
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 820px;
  max-width: 1500px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.teamModal {
  z-index: 1;
  height: 85vh;
  width: 70vw;
  min-width: 400px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 244, 244, 1);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: scroll;
}
.teamModal .modalHeader {
  padding: 1rem;
  color: #f9f8f7;
  background-color: #00303f;
}
.teamModal .modalBody{
  display: flex;
  text-align: left;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: auto;
}
.teamModal .modalBody .modalImage {
  width: 50%;
  height: 100%;
  padding: 1rem;
}
.teamModal .modalBody .modalImage img{
  width: 500px;
  height: auto;
  margin: 1rem;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
.teamModal .modalBody .modalHeadshot img{
  width: auto;
  height: 500px;
}
.teamModal .modalBody .digitalModalImage img{
  width: 500px;
  height: auto;
  margin: auto;
  box-shadow: none;
}
@media screen and (max-width: 1084px) {
  .teamModal .modalBody .modalImage{
    width: 100%;
  }
  .teamModal .modalBody .modalImage img{
    width: 300px;
  }
  .teamModal .modalBody .modalHeadshot img{
    height: 300px;
    width: auto;
  }
}
@media screen and (max-width: 840px) {
  .teamModal .modalBody {
    flex-direction: column;
  }
  .teamModal .modalBody .modalImage {
    width: 100%;
    text-align: center;
  }
}
.teamModal .modalBody .modalText{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
}
.teamModal .modalBody .modalText p{
  margin: 10px auto 0 0;
  text-align: left;
}
.teamModal .digitalModalBody .modalText p{
  margin: 10px auto 0 auto;
  text-align: left;
  width: 80%;
}
.teamModal .modalFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: -2rem;
}
.teamModal button{
  /*margin: 1rem;*/
  margin-top: auto;
  margin-bottom: 0;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #d55a29;
  color: #f5f4f4;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* Team --- End*/

/* Services --- Start*/

.services-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));*/
  background-image: url('./assets/landingbg.png');
  background-size: cover;
  overflow: hidden;
  overflow-y: scroll;
}
.services-container img {
  width: auto;
  height: 450px;
  margin: auto;
  opacity: 0.8;  
}
.services-container .card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
  flex-wrap: wrap;
}
.services-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 450px;
  margin: 1rem;
  height: auto;
  padding: 1rem;
  background-color: #f9f8f7;
  border-radius: 25px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 840px) {
  .services-container .card {
    width: 80%;
  }
}
.services-container .card .small-card-image img{
  width: auto;
  height: 150px;
}
.services-container .card p{
  text-align: left;
}
.services-container .card ul{
  text-align: left;
  width: 100%;
  margin: 1rem;
}
.services-container .card .button{
  margin-top: auto;
  margin-bottom: 0;
  padding: 0.5rem;
  border-radius: 25px;
  background-color: #d55a29;
  color: #f5f4f4;
  font-weight: 600;
  border: none;
  cursor: pointer;
  vertical-align: bottom;
}
.services-container .card .button:hover{
  opacity: 0.7;
}
.teamModal .digitalModalBody{
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: column-reverse;
}
@media screen and (max-width:1260px) {
  .teamModal .serviceModalBody{
    flex-direction: column;
    text-align: center;
  }
  .teamModal .serviceModalBody .modalImage{
    width: 100%;
  }
}
.teamModal .digitalModalBody .digitalModalImage{
  text-align: center;
}
.services-container .teamModal .modalBody .modalImage img{
  width: auto;
  height: 250px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 5rem;
}

/* Services --- End*/

.about-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*background-color: #f9f8f7;
  background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));*/
  background-image: url('./assets/teambg.png');
  background-size: cover;
  overflow: scroll;
  overflow-x: hidden;
}
.about-container h1{
  margin: 2rem;
}
.about-container .enjaLogo {
  font-family: 'Caveat', cursive;
  font-weight: 900;
  font-size: 4rem;
  color:#e38c2d;
}
.about-container img {
  width: auto;
  height: 300px;
  border-radius: 25px;
  margin: 1rem auto 1rem auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.about-container p {
  display: block;
  margin: 10px auto 0 auto;
  width: 50%;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .about-container p {
    width: 100%;
  }
  .about-container .enjaLogo {
    color: #00303f;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 1rem;
  /*
  background-image: linear-gradient(180deg, rgba(245, 244, 244, 1), rgba(245, 244, 244, 0));*/
  background-color: #f5ae62;
  background-image: url('./assets/kontaktbg.png');
  background-size: cover;
  overflow-y: scroll;
}
.contact-container p{
  font-size: larger;
}
.form-container {
  width: 40%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .form-container {
    width: 80%;
  }
}
.form-container input[type=text], input[type=email], input[type=tel], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.form-container .required:after{
  content: "*";
  color: red;
}
.form-container input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
  border: 2px solid #555;
}
.form-container input[type=submit] {
  width: 100%;
  background-color: #d55a29;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.form-container input[type=submit]:hover {
  opacity: 0.7;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00303f;
  margin-top: 0;
  margin-bottom: 0;
  color:#f5f4f4;
  font-size: x-small;
}
.footer-container a{
  color: #f5f4f4;
}



/* Path: enja-site\src\App.css */
